<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
      内容：<p><%= @poems.content %></p>
      <%= link_to "一覧に戻る", poems_path %>
  </div>
</div>
